@page
@model Guardadito.Pages.Config.EstadoRecordatorio.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>ReminderStatus</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReminderStatus.Name" class="control-label"></label>
                <input asp-for="ReminderStatus.Name" class="form-control" />
                <span asp-validation-for="ReminderStatus.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReminderStatus.CreatedAt" class="control-label"></label>
                <input asp-for="ReminderStatus.CreatedAt" class="form-control" />
                <span asp-validation-for="ReminderStatus.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReminderStatus.UpdatedAt" class="control-label"></label>
                <input asp-for="ReminderStatus.UpdatedAt" class="form-control" />
                <span asp-validation-for="ReminderStatus.UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
